* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}



body.blur-bg::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}


.header {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.container {
  width: 50%;
  background-color: rgb(49, 49, 49);
  border-radius: 1rem;
}

.search-bar {
  margin: 3rem 1rem 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

#input {
  height: 2rem;
  width: 60%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #737373;
  background-color: transparent;
  color: white;
}

#input:focus {
  outline: none;
  border-color: white;
}

#search-btn {
  height: 2.8rem;
  width: 6rem;
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.3rem;
  background-color: #ffffff;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

#msg {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}

.movie-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  color: white;
  text-align: center;
}

#movie-title {
  font-size: 1.8rem;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
  gap: 1rem;
}

#rate {
  font-size: 1rem;
}

#star {
  color: rgb(255, 174, 0);
}

.extra-info {
  color: #a0a0a0;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.genre-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 3rem;
}

.genre {
  height: 1rem;
  width: 5rem;
  border: 1px solid #a0a0a0;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #fff1f1;
}

img {
  height: 20rem;
}
.info-section {
  margin-bottom: 2rem;
}
.info-section h4{
color: white;
font-size: 1.7rem;
margin: 0 2rem 0rem 2rem;
font-weight: lighter;
}

#plot,#cast,#director,#writer {
  margin: 0.4rem 2rem 1rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  color: #fff4f4c8;
  font-weight: lighter;
}