
* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  color: white;
}

body.blur-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}


.header {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 10rem 0rem 2rem 0rem;
}

.container {
  width: 50%;
  background-color: rgba(49, 49, 49, 0.95);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 3rem;
}

.search-bar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  
}

#input {
  width: 60%;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 1px solid #737373;
  background: transparent;
  color: white;
}

#input:focus {
  outline: none;
  border-color: white;
}

#search-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: #ffffff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#msg {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}

.movie-info {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.movie-info img {
  width: 15rem;
  height: auto;
  margin: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.title {
  flex: 1;
  min-width: 250px;
}

#movie-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#star {
  color: gold;
}

.extra-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 0.95rem;
  color: #a0a0a0;
  margin: 2rem 0rem 1rem 0rem;
}

.genre-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 4rem;
 
}

.genre {
  width: 5rem;
  border: 1px solid #a0a0a0;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 0.85rem;
}

.info-section {
  margin-top: 2rem;
}

.info-section h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

#plot {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff4f4c8;
}

.trailer-section {
  margin-top: 2rem;
}

.trailer-section h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #input {
    width: 100%;
  }

  .extra-info {
    justify-content: center;
    flex-wrap: wrap;
  }

  .title {
    text-align: center;
  }
}
